body {
    overflow-x: hidden;
}

footer {
    background-color: #FF96C4;
}

.custom-icon-color {
    color: white;
}

.footer-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
    color: #8F395D;
    font-size: 1.2rem;
}

.footer-text {
    font-family: 'Poppins', sans-serif;
    color: white !important;
    font-size: 1.2rem;
}

#footer-motto {
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
    color: white;
    font-size: 1.2rem;
    text-align: end;
}

#footer-hours {
    font-family: 'Poppins', sans-serif;
    color: #8F395D;
    font-size: 1.2rem;
    text-align: end;
}

#footer-copyright {
    color: white; 
    font-family: 'Poppins', sans-serif;
    text-align: start;
}

.footer-logo {
    max-height: 100%;
}

@media (max-width: 991px) {
    .footer-logo {
        max-height: 50px;
    }
}

@media (max-width: 767px) {
    #footer-motto {
        text-align: center;
    }

    #footer-hours {
        text-align: center;
    }

    #footer-copyright {
        text-align: center;
    }
}