body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding: 0;
}


.container-fluid {
    width: 85%;
    margin: 5px auto;
    margin-top: 20px;
}


.sidebar {
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 10px;
}


.content-section {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    height: 70vh;

    display: none;
}


@media (max-width: 500px) {
    .content-section {
        height: 95vh;

    }
}


.content-section.active {
    display: block;
}


.nav-link {
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 4px;
    color: #333333;
    transition: background-color 0.2s ease;
}

.nav-link.active {
    background-color: #f8f9fb;
    font-weight: 600;
    border-left: 2px solid pink;
    color: #CB3473;
}

.nav-link:hover {
    background-color: #f0f1f4;
    border-radius: 2px;
    color: #CB3473;
}

.nav-link i {
    margin-right: 4px;
}


.profile-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 8px;
}

.form-group {
    margin-bottom: 8px;
}

.form-control {
    border-radius: 10px;
    background-color: #f8f9fb;
    padding: 6px 10px;
    border: 1px solid #d1d3e2;
    transition: all 0.3s;
}

.form-control:focus {
    border-color: pink;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(255, 102, 0, 0.1);
}

.form-group label {
    font-size: 1rem;
    color: #333333;
    font-weight: 500;
}


input[type="radio"] {
    margin-right: 4px;
}

label[for="male"],
label[for="female"],
label[for="other"] {
    margin-right: 12px;
}




.order-id {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 10px;
}




.status-btn {
    border-radius: 4px;
    font-weight: bold;
    padding: 8px 12px;
    text-align: center;
}


.warning {
    background-color: #ffc107;
}

.info {
    background-color: #17a2b8;
}

.primary {
    background-color: #007bff;
}

.secondary {
    background-color: #6c757d;
}

.success {
    background-color: #28a745;
}

.danger {
    background-color: #dc3545;
}


.text-dark {
    color: #343a40;
}

.text-white {
    color: #fff;
}

@media (max-width: 767px) {
    .status-btn {
        font-size: 12px;
        padding: 2px 2px;
    }
}


.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
    margin-top: 10px;
}

.item-image img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

.item-details {
    flex: 1;
    margin-left: 10px;
}

.item-details p {
    margin: 0;
}

.item-price {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
}

.order-total {
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
    text-align: right;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 15px;
}


@media (max-width: 576px) {
    .order-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .item-image img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .item-price {
        align-self: flex-end;
        margin-top: 10px;
    }

    .item-details {
        margin-left: 0;
    }
}

#purchaseSection {
    max-height: 70vh;

    overflow-y: auto;

    padding: 10px;
    margin-top:10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

#purchaseSection h4 {
    position: sticky;
    top: 0;
    background-color: #ffffff;

    z-index: 10;

    padding: 10px;

    border-bottom: 1px solid #f0f0f0;

}



.order-details {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


#purchaseSection::-webkit-scrollbar {
    width: 8px;
}

#purchaseSection::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

#purchaseSection::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}



.tab-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 1px solid #e0e0e0;

}

.tab-item {
    margin-right: 10px;

}

.tab-link {
    display: block;
    padding: 10px 15px;
    color: #CB3473;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab-link.active {
    background-color: pink;
    font-weight: bold;
}

.tab-link:hover {
    background-color: #f0f0f0;
}


.sticky-tabs {
    position: sticky;
    top: 0;

    background-color: #fff;
    z-index: 1000;

    padding: 2px 0;

}







.review-tabs {
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.review-tabs .tab-link {
    font-size: 1rem;
    font-weight: 500;
    color: #CB3473;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.review-tabs .tab-link.active {
    font-weight: bold;
    background-color: pink;
    border-radius: 5px;
}

.review-tabs .tab-link:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}


.reviews-content {
    display: none;
}

.reviews-content.active {
    display: block;
}

.review-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}





.profile-image {
    width: 100px;

    height: 100px;

    object-fit: cover !important;

    border-radius: 50%;

}





.item-image {
    position: relative;

}

.image-container {
    position: relative;
    display: inline-block;

}



.order-number {
    position: absolute;
    top: -10px;

    left: -10px;

    background-color: #CB3473;

    color: #fff;

    border-radius: 50%;

    width: 25px;

    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    font-weight: bold;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

}


@media (max-width: 768px) {
    .image-container img {
        width: 50%;

        height: auto;

    }

    .order-number {
        top: -10px;

        left: -10px;

        width: 25px;

        height: 25px;

        font-size: 16px;

    }
}

@media (max-width: 576px) {
    .image-container img {
        width: 50%;

        height: auto;

    }

    .order-number {
        top: -10px;

        left: -10px;

        width: 25px;

        height: 25px;

        font-size: 18px;

    }
}

.order-total {

    margin-top: 10px;
}

.original-total {
    color: gray;
    text-decoration: line-through;
}

.discounted-total {
    color: black;
}


.image-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px;
}

.image-container img {
    border-radius: 10px;
}

.full-size-image {
    border-radius: 10px;

    object-fit: cover;

}

@media (max-width: 576px) {
    .image-container img {
        height: auto;
        width: 200px;

    }
}


#reviewsSection {
    max-height: 70vh;

    overflow-y: auto;

    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}


#reviewsSection::-webkit-scrollbar {
    width: 8px;
}

#reviewsSection::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

#reviewsSection::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.btn-max-width {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-max-width {
    width: 100%;
    background-color: #CB3473;
    border-color: #CB3473;
}

.btn-max-width:hover {
    background-color: #a82a62;
    border-color: #a82a62;
}



.rating {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 1.5rem;
    color: #f39c12;
    margin-right: 5px;
}

.star.selected {
    color: #f39c12;
}















.invoice-invoice-container {
    border: 2px solid #f55f90;
    padding: 15px;
    border-radius: 10px;
    max-width: 100%;
    margin: 10px auto;
}

.invoice-invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-invoice-header img {
    width: 120px;
}

.invoice-invoice-title {
    font-weight: bold;
    color: #f55f90;
    font-size: 1.2rem;
}

.invoice-table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 10px;
}

.invoice-invoice-table {
    width: 100%;
    min-width: 600px;
    border-top: 2px solid #f55f90;
}

.invoice-table td,
.invoice-table th {
    vertical-align: middle;
    padding: 5px;
}

.invoice-table th {
    background-color: #f5f5f5;
}

.invoice-total-row {
    font-weight: bold;
}

.invoice-thank-you {
    margin-top: 20px;
    color: #f55f90;
    font-weight: bold;
    font-size: 1rem;
}

.invoice-footer {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
}


.main-content {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100px;

}


.save-changes-btn {
    background-color: #CB3473;

    color: #fff;

    padding: 0.5rem 1.5rem;

    border: none;

    border-radius: 0.4rem;

    cursor: pointer;

}

.save-changes-btn:hover {
    background-color: #A62E5B;

    transform: translateY(-2px);

}


.ok-button {
    background-color: #CB3473;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.ok-button:hover {
    background-color: #A62E5B;
    transform: translateY(-2px);
}

.submit-review-btn {
    background-color: #CB3473; /* Custom background color */
    color: #fff; /* White text */
    padding: 0.5rem 1.5rem; /* Adjust padding for size */
    border: none; /* No border */
    border-radius: 0.4rem; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
  }
  
  .submit-review-btn:hover {
    background-color: #A62E5B; /* Darker shade for hover */
    color: #fff; /* Keep text white on hover */
  }
  




  #notificationsList {
    max-height: 550px; /* Limit height to fit within the section */
    overflow-y: auto; /* Enable scrolling for long lists */
    margin-bottom: 20px; /* Add space at the bottom */
}

.list-group-item {
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 5px; /* Spacing between items */
    padding: 10px; /* Padding inside each item */
    transition: background-color 0.3s; /* Smooth background transition */
}

.list-group-item:hover {
    background-color: #f8f9fa; /* Light gray background on hover */
}

/* Style for the notification message */
.list-group-item strong {
    color: #007bff; /* Highlight order info and number */
}

/* Error message style */
.text-danger {
    color: red; /* Red color for error messages */
}
