body {
    font-family: 'Poppins', sans-serif !important;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 100%; 
    padding-top: 56.25%;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}
        
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
}

#disclaimerModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.disclaimer-modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 30px;
    border-radius: 35px;
    border: 5px solid #D13A79;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.disclaimer-modal-content h2 {
    color: #D13A79;
    text-align: center;
    font-weight: bold;
}

.disclaimer-modal-content p {
    color: #8F395D;
    text-align: justify;
}

.disclaimer-modal-content p span {
    font-weight: bold;
}

#understandButton {
    background-color: #CB3473;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#understandButton:hover {
    background-color: #8F395D;
}


#supportModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.support-modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 30px;
    border-radius: 35px;
    border: 5px solid #D13A79;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow-y: auto;
}

.support-modal-content img {
    display: block;
    margin: 0 auto; 
    width: 250px;
    height: auto;
}

.support-modal-content .close-btn {
    background-color: #CB3473;
    color: white;
    border: none;
    font-size: 14px;
    padding: 7px 10px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin-right: -10px;
}

.support-modal-content .close-btn:hover {
    background-color: #8F395D;
}

.support-modal-content .modal-header {
    color: #D13A79;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.support-modal-content .modal-body {
    color: #8F395D;
    line-height: 1.6;
    text-align: justify;
}

.support-modal-content .info h3 {
    color: #CB3473;
    cursor: pointer;
    margin: 10px 0;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 6px;
    border-radius: 5px;
    font-style: underline;
}

.support-modal-content .info h3:hover {
    color: #8F395D;
}

.support-modal-content .info h3.clicked {
    background-color: #F7D5E1; 
    font-style: none;
}

.support-modal-content .info ul {
    list-style-type: disc;
    margin: 10px 0 0 20px;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.support-modal-content .info ul.visible {
    display: block;
    opacity: 1;
}

.support-modal-content::-webkit-scrollbar {
    width: 6px;
}

.support-modal-content::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px; 
}

.support-modal-content::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    border: 2px solid #ffffff;
    min-height: 50px;
}

.support-modal-content::-webkit-scrollbar-thumb:hover {
    background: #f7a7b5;
}

.support-modal-content {
    scrollbar-color: #D3D3D3 transparent;
    scrollbar-width: thin;
}

.support-modal-content::-webkit-scrollbar-corner {
    background-color: transparent; 
}

body.modal-open {
    overflow: hidden; 
}

.support-button {
    background-color: white;
    border: 2px solid #CB3473;
    color: #CB3473;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
}

.support-button i {
    margin-right: 10px;
    font-size: 20px;
}

.support-button:hover {
    background-color: #CB3473;
    color: white;
    border: 2px solid #CB3473;
}

.main-content {
    padding-bottom: 100px;
}

ul h6 {
    font-size: 16px; 
    margin: 10px 0;
    margin-left: -18px;
    color: #CB3473;
    font-weight: bold;
}

ul h5 {
    font-size: 16px; 
    margin: 10px 0;
    margin-left: -18px;
    /*color: #CB3473;*/
    /*font-weight: bold;*/
}



/* Define a base diameter for the cake */
:root {
  --D: 200px; /* Control diameter using CSS variables */
}


/* ============================================== POSITION */
.cake {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: calc(var(--D) / -2);
  margin-top: calc(var(--D) / -2);
  width: var(--D);
  height: var(--D);
}

/* ============================================== BASE */
.cake:after {
  background: white;
  border-radius: 50%;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--D);
  height: calc(var(--D) / 50);
}

/* ============================================== Candle */
.velas {
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: calc(var(--D) / -40);
  margin-top: calc(var(--D) / -6);
  width: calc(var(--D) / 20);
  height: calc(var(--D) / 6);
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: calc(var(--D) / 45);
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire */
.fuego {
  border-radius: 50%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: calc(var(--D) / -30);
  width: calc(var(--D) / 15);
  height: calc(var(--D) / 8);
}

.fuego:nth-child(1) {
  animation: fuego 2s infinite;
}

.fuego:nth-child(2) {
  animation: fuego 1.5s infinite;
}

.fuego:nth-child(3) {
  animation: fuego 1s infinite;
}

.fuego:nth-child(4) {
  animation: fuego 0.5s infinite;
}

.fuego:nth-child(5) {
  animation: fuego 0.2s infinite;
}

/* ============================================== Animation Fire */
@keyframes fuego {
  0% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    transform: translateY(calc(var(--D) / -5)) scale(0);
  }
  100% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
}

/* ============================================== Frosting */
.cobertura {
  background: white;
  border-radius: calc(var(--D) / 2);
  position: absolute;
  top: 65%;
  left: 50%;
  margin-left: calc(var(--D) / -3.6);
  margin-top: calc(var(--D) / -10);
  width: calc(var(--D) / 1.8);
  height: calc(var(--D) / 8);
  z-index: 10;
}

.cobertura:after,
.cobertura:before {
  background: white;
  border-radius: 50%;
  content: "";
  position: absolute;
  width: calc(var(--D) / 20);
  height: calc(var(--D) / 10);
}

.cobertura:after {
  top: calc(var(--D) / 15);
  right: calc(var(--D) / 7);
}

.cobertura:before {
  top: calc(var(--D) / 10);
  right: calc(var(--D) / 11);
}

/* ============================================== Sponge */
.bizcocho {
  background: #CB3473;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: calc(var(--D) / -4);
  width: calc(var(--D) / 2);
  height: calc(var(--D) / 3);
}

.bizcocho:after,
.bizcocho:before {
  background: rgba(236, 231, 227, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  height: calc(var(--D) / 20);
}

.bizcocho:after {
  top: 30%;
  left: 0;
}

.bizcocho:before {
  top: 60%;
  left: 0;
}


